body {
    margin: 0;
    font-family: 'Lobster', cursive;
    background-image: url('assets/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.game-container {
    width: 100%;
    height: 83vh;
    position: absolute;
    left: 0;
    top: 17vh;
}

.title-board {
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}


.body-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45vw;
    height: 11vh;
    align-items: center;
}

.game-logo {
    width: 17%;
    padding-right: 5%;
}

.game-logo img{
    width: 100%;
}

h1 {
    font-size: 300%;
}

.player-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 25%;
    text-align: center;
}

.player-container div {
    font-size: 130%;
    background: white;
    border: 2px solid grey;
    width: 47%;
    display: inline-block;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3), 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
}

.player-container span img {
    width: 20px;
}

.new-game-box {
    background: url(assets/images/pizza_box.png) no-repeat center center;
    background-size: contain;
    border: 0;
    width: 300px;
    height: 190px;
    position: absolute;
    top: 0;
    right: 2%;
}

div.button-reset {
    position: relative;
    width: 40%;
    text-align: center;
    top: 40px;
    left: 77px;
    font-size: 32px;
    cursor: pointer;
}

.game-board {

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
    background-image: url('assets/images/game-grid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 65vw;
    height: 65vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.game-cell {
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell:hover {
    transform: rotateZ(-50deg);
    background-color: rgba(198, 47, 59, 0.63);
    border-radius: 50%;
    transition: ease 0.4s;
}

.pepperoni_cursor {  cursor: url('assets/images/cursor_pepperoni.png'), default; }
.greenpepper_cursor {  cursor: url('assets/images/cursor_green_pepper.png'), default; }
.mushroom_cursor {  cursor: url('assets/images/cursor_mushroom.png'), default; }

.win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.win-message {
    font-size: 5em;
}

/*Rainbow text css*/

.rainbow {
    #font-size: 55px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 3px 0 0 lightgrey, 6px 0 0 green, 9px 0 0 green, 12px 0 0 white, 15px 0 0 white, 18px 0 0 red, 21px 0 0 red;
}

.bounce-text em {
    display: inline-block;
}

.bounce-text em.bounce-me {
    -webkit-animation: bounceText 2s infinite ease-in-out;
    animation: bounceText 2s infinite ease-in-out;
}

@-webkit-keyframes bounceText {
    60% {
        -webkit-transform: translate(0px, -20px);
    }
}
@keyframes bounceText {
    60% {
        -webkit-transform: translate(0px, -20px);

    }
}

/*end rainbow text css*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
}

.form-container {
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    height: 500px;
    color: #ffffff;
    font-size: 120%;
    background-image: url('assets/images/form_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form-container form {
    width: 65%;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

.form-title {
    font-size: 1.7em;
    margin: 0;
}

.name-field {
    width: 80%;
    height: 30px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    padding: 0 7px;
    text-align: center;
    font-size: .8em;
}

.radio-img {
    width: 23%;
    vertical-align: middle;
    padding: 3% 0;
}

.radio-img:hover {
    background: rgba(255,255,255,0.5);
    border-radius: 25%;
}

.radio-btn {
    visibility: hidden;
}

.selected-img{
    background: rgba(255,255,255,0.5);
    border-radius: 25%;
}

.submit-btn {
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    width: 37%;
    margin: 12px auto;
    cursor: pointer;
}

.submit-btn:hover {
    background: #eee;
    border: 2px solid grey;
    color: grey;
}

.warning {
    color: red;
    font-family: "Verdana", sans-serif;
}

/*TODO mobile breakpoint*/